$gray: #585858;
$blue: #004098;
$dark: #333333;
$blue-gradient: linear-gradient(89.82deg, #63B6C8 33.93%, rgba(0, 104, 183, 0.3) 99.81%);
$blue-gradient-news: linear-gradient(90deg, #64B6C8 5.39%, #0068B7 88.77%);
